*{
    margin: 0;
    padding: 0;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}


.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.person, .traveling {
    position:absolute;
    /* top: 0px; */
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover; /* fit image in container */
}

.traveling{
    transform: translateZ(-40px) scale(5.5);
}

.person{
    transform: translateZ(-20px) scale(3);
}

.Heading{
    color: white;
    font-size: 5rem;
    font-style: bold;
    font-weight: bolder;
    z-index: 1;
}

.description{
    background-color:gray;
    padding: 100px;
    color: white;
}

.description > h1{
    padding-bottom: 100px;
}

.description > p{
    line-height: 40px;
    z-index: 1;
}

/* .anime, .football, .exercise{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    object-fit: cover;
    transform: translateZ(-40px) scale(5.5);
} */

.anime{
    background-image: url("./Images/anime\ \(2\).jpg");
}

.football{
    background-image: url("./Images/football.jpg");
}

.exercise{
    background-image: url("./Images/exercise.jpg");
}


.containerImg{
    height: 45vh;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

